doctype html
html( lang='en')
	head
		title Alert Output
		meta( charset='utf-8' )
		meta( name='viewport', content='width=device-width, height=device-height, initial-scale=1.0' )
		meta( http-equiv='X-UA-Compatible', content='IE=edge' )
		link( rel='icon', href='favicon.ico', type='image/x-icon' )
		link( rel='stylesheet', href='style.css' )
		script( type='module' src='output.js' )

	body
		main.page
			.output
