// Reset
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// Base
html {
  font-family: Arial, sans-serif;
  font-size: 10px;
  line-height: 1.2;
}

body {
  background: #313233;
  color: white;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.section {
  padding: 5rem 0;
}

.container {
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 80rem;
}

.row {
  display: flex;
  margin: 0 -1.5rem
}

.col {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 1.5rem;
}

// Utility
.inline-group {
  & > * {
    margin-right: .5rem;
    margin-bottom: .5rem;
  }
}

// Block
.block {
  display: block;
}

* + .block {
  margin-top: .5rem;
}

// Box
.box {
  padding: 1.5rem;
  border-radius: .5rem;
  background: black;
}

* + .box {
  margin-top: .5rem;
}

// Link
.link {
  transition: color .2s;
  text-decoration: underline;
  cursor: pointer;
  color: orange;

  &:hover {
    color: yellow;
  }
}

// Form
* + .alert-form {
  margin-top: 1.5rem;
}

// Output
.output {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Stats
.output-stats {
  display: block;
  padding: .5rem 1rem;
  min-height: 2.2rem;
  max-width: 100%;
  max-height: 40rem;
  font-family: monospace;
  overflow: auto;
  background: #212223;
  color: white;
}

* + .output-stats {
  margin-top: .5rem;
}

// Alert
.alert {
  display: block;
  padding: 1rem 1.5rem;
  min-height: 2.2rem;
  border-radius: .5rem;
  font-family: monospace;
  text-align: center;
  opacity: 0;
  transition: .2s;
  background: #212223;
  color: white;
}

.alert-heading {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: .5rem;
}

.alert-text {
  font-size: 1.2rem;
}

.alert-active {
  opacity: 1;
}

.alert-green {
  background: #214423;
}

* + .alert {
  margin-top: 1rem;
}

* + .alert-text {
  margin-top: .5rem;
}

// Input
.input {
  display: block;
  width: 100%;
  padding: .5rem 1rem;
  border: none;
  border-radius: .5rem;
  font-size: 1rem;
  line-height: inherit;
  box-shadow: none;
  outline: none;
}

* + .input {
  margin-top: 1rem;
}

// Button
.btn {
  padding: .5rem 1rem;
  border: none;
  border-radius: .5rem;
  font-size: 1rem;
  line-height: inherit;
  cursor: pointer;
  outline: none;
  transition: background-color .2s;
  background-color: #212223;
  color: white;

  &:hover {
    background-color: black;
  }
}

* + .btn {
  margin-top: 1rem;
}

// Frame
.frame {
  display: block;
  width: 100%;
  min-height: 20vh;
  border: 2px solid black;
}

* + .frame {
  margin-top: .5rem;
}